<h2 mat-dialog-title>Create Log</h2>

<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start Date:</mat-label>
      <input type="datetime-local" matInput formControlName="startDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End Date:</mat-label>
      <input type="datetime-local" matInput formControlName="endDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comments:</mat-label>
      <input matInput formControlName="comments">
    </mat-form-field>

    <mat-error *ngIf="form.errors?.['invalidDate'] && (form.touched || form.dirty)">
      End Date must be after Start Date
    </mat-error>

    <mat-dialog-actions>
      <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Create</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

