$neonPink: rgb(202, 0, 125);
$neonPinkGlass: rgba(202, 0, 125, 0.2);
$warnRed: rgb(255, 36, 65);
$warnRedGlass: rgba(255, 36, 65, 0.2);
$nightBlue: rgb(13, 0, 61);
$nightBlueGlass: rgba(13, 0, 61, 0.6);
