<mat-grid-list cols="1"  rowHeight="4:1" class="container">
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <mat-card>
            <mat-card-content class="card-content">
                <h2 mat-dialog-title>Log In</h2>
                <div *ngIf="!loggedIn else alreadyLoggedIn">


                    <form [formGroup]="form" (submit)="submitForm()">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email:</mat-label>
                            <input type="email" matInput formControlName="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password:</mat-label>
                            <input type="password" matInput formControlName="password">
                        </mat-form-field>

                        <div *ngIf="logInFailed">
                            <mat-error style="color: red">Invalid credentials</mat-error>
                        </div>
                    
                        <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Log In</button>
                    
                    </form>    
                </div>

            </mat-card-content>  
        </mat-card>
        
    </mat-grid-tile>
</mat-grid-list>

<ng-template #alreadyLoggedIn>
    <div> You are already Logged In</div>
</ng-template>