<h2>Add sleep data:</h2>

<form [formGroup]="sleepForm">
  <mat-form-field>
    <mat-label>Time you went to sleep:</mat-label>
    <mtx-datetimepicker #sleepStart
                        [type]= "'datetime'"
                        [mode]= "'landscape'"
                        [multiYearSelector]= "false"
                        [startView]="'month'"
                        [twelvehour]="false"
                        [timeInterval]="1"
                        [touchUi]="false"
                        [timeInput]="true">
    </mtx-datetimepicker>
    <input [mtxDatetimepicker]="sleepStart" formControlName="sleepStart" matInput required [max]="currentDate">
    <mtx-datetimepicker-toggle [for]="sleepStart" matSuffix></mtx-datetimepicker-toggle>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time you woke up:</mat-label>
    <mtx-datetimepicker #sleepEnd
                        [type]= "'datetime'"
                        [mode]= "'landscape'"
                        [multiYearSelector]= "false"
                        [startView]="'month'"
                        [twelvehour]="false"
                        [timeInterval]="1"
                        [touchUi]="false"
                        [timeInput]="true">
    </mtx-datetimepicker>
    <input [mtxDatetimepicker]="sleepEnd" formControlName="sleepEnd" matInput required [max]="currentDate">
    <mtx-datetimepicker-toggle [for]="sleepEnd" matSuffix></mtx-datetimepicker-toggle>
  </mat-form-field>
</form>
<button mat-raised-button color="primary" (click)="save()">Add sleep</button>
<br>
<h2>Live tracking</h2>


