<h2>Add sleep data:</h2>

<form class="addSleepForm">
  <mat-form-field>
    <mat-label>Time you went to sleep:</mat-label>
    <input matInput [matDatepicker]="pickerStart" [max]="currentDate" [value]="currentDate">
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>HH:mm</mat-label>
    <input matInput [ngxTimepicker]="timepickerStart" [format]="24" placeholder="HH:mm" [value]="currentTime">
   <ngx-material-timepicker-toggle matSuffix [for]="timepickerStart"></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #timepickerStart></ngx-material-timepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Time you woke up:</mat-label>
    <input matInput [matDatepicker]="pickerEnd" [max]="currentDate" [value]="currentDate">
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>HH:mm</mat-label>
    <input matInput [ngxTimepicker]="timepickerEnd" [format]="24" placeholder="HH:mm" [value]="currentTime">
   <ngx-material-timepicker-toggle matSuffix [for]="timepickerEnd"></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #timepickerEnd></ngx-material-timepicker>
  </mat-form-field>
  <br>
  <button>Add sleep</button>
</form>

<h2>Live tracking</h2>





