<div>
  <div class="add-title">
    <h2 class="primary">Add Sleep Record</h2>
  </div>
  <div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input
        matInput
        [ngxMatDatetimePicker]="startOfSleep"
        placeholder="Choose a date"
        [(ngModel)]="local_data.startOfSleep"
      />
      <ngx-mat-datepicker-toggle
        matSuffix
        [for]="startOfSleep"
      ></ngx-mat-datepicker-toggle>
      <ngx-mat-datetime-picker #startOfSleep [color]="color">
        <ngx-mat-datepicker-actions>
          <button mat-button ngxMatDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" ngxMatDatepickerApply>
            Apply
          </button>
        </ngx-mat-datepicker-actions>
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <ng-template #elseTemplate>
      Are you sure about deleting <b>{{ local_data.name }}</b
      >?
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{ action }}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warm">
      Cancel
    </button>
  </div>
</div>
