/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$blue-grey-palette),
      accent: mat.define-palette(mat.$green-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
