.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.mt {
    margin-top: 1rem;
}
