.full-width {
  .full-width-table{
    width: 75%;
    max-height: 50%;
    overflow: auto;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.table-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-button{
  margin-right: 1rem;
}