<div class="full-width">
  <div class="full-width-table mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter Date</mat-label>
      <select #filterDate matNativeControl>
        <option value="">-- Select Date --</option>
        <option [value]="item" *ngFor="let item of dates">{{item | date}}</option>
      </select>
    </mat-form-field>
    <table mat-table matSort aria-label="Elements" [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.sleepRecordId}}</td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef>Hours Slept</th>
        <td mat-cell *matCellDef="let row">{{row.hoursSlept}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{row.sleepRecordStart.toLocaleDateString('en-US')}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="count" [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>