<mat-card class="timerCard">
  <mat-card-header>
    <mat-card-title>
      Recording sleep for {{sleepRecord.startTime | date:"EEEE dd/MM/yyyy"}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="timerCounter">
      {{timer | date:"HH:mm:ss":'UTC'}}
    </div>
    <mat-list>
      <mat-list-item>Sleep session started at: {{sleepRecord.startTime | date:'dd/MM/yyyy - H:mm:ss'}}</mat-list-item>
      <mat-list-item [disabled]="timer == 0">Sleep session ended at: {{sleepRecord.endTime | date:'dd/MM/yyyy - H:mm:ss'}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="timerRunning" (click)="startTimer()">Start</button>
    <button mat-raised-button color="primary" [disabled]="!timerRunning" (click)="stopTimer()" >Stop</button>
    <button mat-raised-button color="warn" (click)="resetTimer()">Reset</button>
    <button mat-icon-button color="accent" (click)="saveSleepSession()" [disabled]="timerRunning">
      <mat-icon>
        save
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
