
<mat-card class="card-divider">
    <mat-card-content>
        <div class="list">

            <mat-form-field appearance="outline" class="field">
                <mat-label>Filter:</mat-label>
                <input #dateField matInput type="date" (input)="search(dateField.value)">
            </mat-form-field>


            <button mat-flat-button color="accent" (click)="openCreate()">Create</button>
        </div>
    </mat-card-content>
</mat-card>       

<mat-card>
    <mat-card-content>
        <div>
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.startDate}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.endDate}} </td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration </th>
                    <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.duration}} </td>
                </ng-container>

                <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef> Comments </th>
                    <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.comments}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let SleepLog"> {{SleepLog.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Details</th>
                    <td mat-cell *matCellDef="let SleepLog">
                        <button mat-icon-button (click)="openDetails(SleepLog)">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

            </table>

            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <mat-paginator [pageSizeOptions]="[5]"
                [hidePageSize]="true"
                showFirstLastButtons
                (page)="onChangePage($event)">
            </mat-paginator>

        </div>
    </mat-card-content>
</mat-card>

<ng-template #EmptyList>
    <h3> No logs found</h3>
</ng-template>