<div>
    <form (ngSubmit)="onSubmit()" #sleepForm="ngForm">

        <div class="form-group">
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input id="startDate" class="form-control" required [(ngModel)]="sleepRecordModel.dateStart"
                    name="startDate" type="date" matInput>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input id="startTime" [(ngModel)]="sleepRecordModel.timeStart" type="time" required name="startTime"
                matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Duration (hours)</mat-label>
            <input id="duration" class="form-control" required [(ngModel)]="sleepRecordModel.time" name="durantion"
                type="text" matInput>
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
    </form>
</div>
