@use '@angular/material' as mat;

@include mat.core();


$SleepTracker-Client-primary: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$SleepTracker-Client-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

$SleepTracker-Client-warn: mat.define-palette(mat.$red-palette);

$SleepTracker-Client-theme: mat.define-light-theme((
  color: (
    primary: $SleepTracker-Client-primary,
    accent: $SleepTracker-Client-accent,
    warn: $SleepTracker-Client-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($SleepTracker-Client-theme);

