table {
    background-color: #222c36;
    padding: 20px;
  }
  td, th{
    color: #b0b8ce;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-paginator{
    background-color: #222c36;
    color: #b0b8ce;
  }

  .mat-elevation-z8{
    width: 80%; 
    margin: 0 auto;
  }
 
  ::ng-deep .mat-mdc-select-trigger{
    background-color: #222c36;
    color: #b0b8ce;
  }
  ::ng-deep .mat-mdc-select-arrow{
    background-color: #222c36;
    color: #b0b8ce;
  }

  .mat-mdc-text-field-wrapper{
    background-color: #222c36 !important;
    color: #b0b8ce !important;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    background-color: #222c36 !important;
    color: #b0b8ce !important;
  }