table {
    background-color: #222c36;
    padding: 20px;
  }
  td, th{
    color: #b0b8ce;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-paginator{
    background-color: #222c36;
    color: #b0b8ce;
  }

  .mat-elevation-z8{
    width: 80%; 
    margin: 0 auto;
  }
 


