table {
    width: 100%;
    background-color: #222c36;
  }
  td, th{
    color: #b0b8ce;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-paginator{
    background-color: #222c36;
    color: #b0b8ce;
  }



