<app-card>
  <h3>Logs</h3>
  @if(!isLoading){
  <article>
    <mat-form-field>
      <mat-label>Filter by date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dateFromForm"
        (dateChange)="onDateChange($event)"
        id="date"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button aria-label="Delete Icon" (click)="resetFilter()">
      <span class="material-icons"> settings_backup_restore </span>
    </button>
  </article>

  <table mat-table [dataSource]="records()" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date : "dd.MM.yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">
        {{ sleepService.convertToSleepTimeView(element.sleepTime) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="Delete Icon"
          (click)="openDialog('100ms', '100ms', element.id)"
        >
          <mat-icon class="danger">delete_sweep</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalRecordsCount"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[3, 4]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  } @else {
  <div style="display: flex; justify-content: center">
    <mat-spinner></mat-spinner>
  </div>
  }
</app-card>
