.dialog{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.calendar{
    width: 100%;
}

h1{
    align-self: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
}