.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #b0b8ce;
}
.welcome-text {
    color: #b0b8ce;
}
.welcome-image {
    margin-top: 20px;
}
img{
    border-radius: 25px;
}
.companyTitle{
    border: solid 2px;
    padding: 10px;
}