<mat-form-field>
  <mat-label>Filter Table</mat-label>
  <!--  <input matInput type="date" placeholder="search" (keyup)="applyFilter($event)" #input/>-->
  <input matInput [matDatepicker]="dateFilter" (dateInput)="applyDateFilter($event)" disabled [(ngModel)]="filterValue" >
  <mat-datepicker-toggle matIconSuffix [for]="dateFilter"></mat-datepicker-toggle>
  <mat-datepicker-toggle matSuffix (click)="clearDateFilter()">
    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #dateFilter disabled="false"></mat-datepicker>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row" >{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
      <td mat-cell *matCellDef="let row" >{{row.startTime | date: 'dd/MM/yyyy H:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
      <td mat-cell *matCellDef="let row" >{{row.endTime | date: 'dd/MM/yyyy H:mm'}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let row" >{{calculateDuration(row.endTime, row.startTime)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

    <tr *matNoDataRow>
      <td class="mat-cell" colspan="4">The filter does not match any items for '{{filterValue | date: 'dd/MM/yyyy'}}'</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="select page of records"/>
</div>
