<form [formGroup]="addSleepRecord" (submit)="submit()">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDate" placeholder="start date" formControlName="startDate">
      <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate disabled="false"></mat-datepicker>
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput type="time" placeholder="start time" formControlName="startTime">
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDate" placeholder="end date" formControlName="endDate">
      <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate disabled="false"></mat-datepicker>
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput type="time" placeholder="end time" formControlName="endTime">
    </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="primary" type="submit">Submit</button>

  <mat-error *ngIf="invalidInput">
    {{ errorResponse }}
  </mat-error>

</form>
