<form [formGroup]="createForm">
  <mat-form-field
    *ngIf="action != 'Delete'; else elseTemplate"
    [hideRequiredMarker]="true"
  >
    <div class="add-title">
      <h2 class="primary">Add Sleep Record</h2>
    </div>
    <mat-grid-list cols="2" rowHeight="85px" [cols]="breakpoint">
      <mat-grid-tile>
        <div class="text-inside">
          <mat-form-field>
            <mat-label>Start of Sleep</mat-label>
            <mat-datetimepicker-toggle
              [for]="startDateTimePicker"
              matSuffix
            ></mat-datetimepicker-toggle>
            <mat-datetimepicker
              #startDateTimePicker
              type="datetime"
              [openOnFocus]="false"
              [timeInterval]="5"
            ></mat-datetimepicker>
            <input
              matInput
              placeholder="Choose a date"
              formControlName="startOfSleep"
              [matDatetimepicker]="startDateTimePicker"
              required
              [autocomplete]="false"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-inside">
          <mat-form-field>
            <mat-label>End of Sleep</mat-label>
            <mat-datetimepicker-toggle
              [for]="endDateTimePicker"
              matSuffix
            ></mat-datetimepicker-toggle>
            <mat-datetimepicker
              #endDateTimePicker
              type="datetime"
              [openOnFocus]="false"
              [timeInterval]="5"
            ></mat-datetimepicker>
            <input
              matInput
              placeholder="Choose a date"
              formControlName="endOfSleep"
              [matDatetimepicker]="endDateTimePicker"
              required
              [autocomplete]="false"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-inside">
          <mat-form-field>
            <mat-label>Select Type of Sleep</mat-label>
            <mat-select formControlName="selectedSleepType">
              <mat-option *ngFor="let item of keys" [value]="item.value">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-error *ngIf="invalidInput">
      {{ errorResponse }}
    </mat-error>
  </mat-form-field>
</form>
<ng-template #elseTemplate>
  Are you sure you want to delete sleep record - <b>{{ local_data.id }}</b
  >?
</ng-template>
<div mat-dialog-action>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warm">
    Cancel
  </button>
</div>
