@import "../../variables.scss";

// Mobile
@media (max-width: 620px) {
  .timer__container {
    gap: 20px;
  }
}

// Desktop
@media (min-width: 621px) {
  .timer__container {
    gap: 40px;
  }
}

.timer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .tips {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100px;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;

    span {
      color: $neonPink;
      font-weight: bold;
    }
  }

  .timer {
    font-size: 3rem;
  }

  .buttons {
    align-items: center;
    display: flex;
    gap: 20px;

    button {
      align-items: center;
      background-color: white;
      border: none;
      border-radius: 50%;
      color: $neonPink;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 50px;
      transition:
        box-shadow 0.2s,
        transform 0.5s;
      width: 50px;

      mat-icon {
        font-size: 40px;
        height: 40px;
        width: 40px;
      }

      &:hover {
        box-shadow: 0 0 40px white;
      }
    }
  }
}

.disappeared {
  transform: scale(0);
}
